
.header{
    text-align: center;
    font-family: Calibri, sans-serif;
}
hr {
    border: 0;
    border-top: 2px solid #2c3e50;
    margin-left: 1in;
    margin-right: 1in;
}
.section{
    margin-left: 1in;
    margin-bottom: 20px;
    font-family: Calibri, sans-serif;
}
.section-title{
    font-weight: bold;
    text-decoration: underline;
    font-size: 20px;
    margin-bottom: 10px;
}
.section-content{
    font-size: 20px;
}